:root {
  --arrow-color-inactive: rgb(162, 172, 179);
  --arrow-color-active: rgb(29, 158, 233);
  --arrow-width: 30px;
  --arrow-height: 30px;
  --arrow-thickness: 2px;
  --movieBg-z-index: -2;
  --movieDetails-z-index: -1;
}

.carouselContainer {
  position: relative;
  display: grid;

  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1rem;

  align-content: center;

  width: 100%;
  height: 300px;
}

.arrowContainer {
  margin: 0 auto;
  position: relative;

  /* border: 2px solid rgba(0, 0, 0, 0); */
  border: 2px solid pink;
  border-radius: 50%;

  width: calc(var(--arrow-width) * 2);
  height: calc(var(--arrow-height) * 2);
}

.arrowContainer:hover {
  cursor: pointer;
}

.arrowContainer:hover .arrow,
.arrowContainer:visited .arrow {
  border-left-color: var(--arrow-color-active);
  border-bottom-color: var(--arrow-color-active);
}

.arrow {
  position: absolute;

  width: var(--arrow-width);
  height: var(--arrow-height);

  border-left: var(--arrow-thickness) solid var(--arrow-color-inactive);
  border-bottom: var(--arrow-thickness) solid var(--arrow-color-inactive);
}

.left {
  top: calc(var(--arrow-height) / 2);
  left: calc(var(--arrow-height) / 1.5);
  transform: rotate(45deg);

  /* grid-column: 0/1; */
}

.right {
  top: calc(var(--arrow-height) / 2);
  right: calc(var(--arrow-height) / 1.5);
  transform: rotate(calc(-45deg * 3));

  /* grid-column: 3/4; */
}

.movieDetailsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;

  /* background-color: lightblue; */
}

.movieDetails {
  position: absolute;
  z-index: var(--movieDetails-z-index);
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  transition: all 1s;

  border: 2px solid pink;
}

.movieBg {
  position: absolute;
  z-index: var(--movieBg-z-index);

  width: 100%;
  height: 100%;

  transition: all 1000ms;
  -webkit-transition: all 1000ms;

  background-color: rebeccapurple;
}
